:root {
  --light-red: #ef6b72;
  --b-red: #e50914;
}
@font-face {
  font-family: Netflix Sans Bold;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2);
}
@font-face {
  font-family: Netflix Sans Regular;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Netflix Sans Regular;
}
svg.svg-icon.svg-icon-netflix-logo {
    height: 45px;
    width: 165px;
}
nav.nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    border: 1px solid #e6e6e6;
    padding: 15px 2.5%;
}
span.check {
    color: #e50914;
    font-weight: 700;
}
ul.fts {
    list-style: none;
    padding-left: 0;
}
section.ft {
    padding: 0 16px;
    margin-top: 1.99em;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #333;
}
p.steps {
    font-size: 0.7em;
}
h1.cta {
    font-size: 2rem;
    margin: 0;
}
a {
    text-decoration: none;
    color: #333;
}
label.input-label {
  position: relative;
}

span.plan-name {
    background-color: var(--light-red);
    position: absolute;
    border-radius: 2px;
    width: 120px;
    height: 120px;
    left: 0;
    bottom: 4px;
}
span.plan-name {
    display: flex;
    place-items: center;
    justify-content: center;
}
input.sq {
    width: 120px;
    height: 120px;
    margin: 0;
}
span.plan-name {
    color: #FFFFFF;
    font-weight: 800;
}
.squares {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 32px;
    margin: 0 auto;
    padding-top: 12px;
    position: sticky;
    top: 0;
    background-color: white;
}
input.premium {
    margin-right: 15px;
}
main.plan-page {
    max-width: 990px;
    margin: 0 auto;
}
tr.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 60px;
    border-bottom: 1px solid #ccc;
    padding-left: 16px;
}
table.plans-table {
    width: 100%;
}
td.row-name {
    width: 45%;
}
section.pln-det {
  padding: 0 16px;
}
td.td-val {
    padding: 12px 15px;
    width: calc(65%/4);
    font-weight: 600;
    text-align: center;
}
section.pln-table {
    color: #737373;
}
td.part-4-ducutw.td-val {
    margin-top: 8px;
}
tr.row.ducutw {
    border-bottom: 0;
    display: flex;
    align-items: start;
    min-height: 60px;
    padding-left: 16px;
}
td.row-name.part-4-ducutw {
    margin-top: 20px;
}
.dev-svg-label {
    font-size: 12px;
}
.dev-svg-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    align-content: center;
}
@media screen and (max-width: 800px) {
    .sign-in > a {
    font-size: 14px;
    font-weight: bolder;
}
    svg.svg-icon.svg-icon-netflix-logo {
    height: 20px;
    width: 75px;
}
  ul.fts {
    font-size: 18px;
}
  span.plan-name, input.sq {
    width: clamp(75px, 21vw ,90px);
    height: 90px;
}
  .squares {
    display: flex;
    gap: 0;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
  input.premium {
    margin-right: 4px;
}
  td.row-name {
    font-size: 14px;
        width: 100%;
    text-align: center;
}
  td.td-val {
    font-size: 12px;
    padding: 8px;
}
  tr.row {
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0;
}
  td.row-name.part-4-ducutw {
    margin-top: 3px;
}
  tr.row.ducutw {
    padding-left: 0;
  }
  }
@media screen and (max-width: 435px) {
  span.plan-name {
    font-size: 13px;
  }
}
@media screen and (max-width: 385px) {
  .squares {
    gap: 6px;
  }
}